.captcha-modal.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(128,128,128,0.5);
  display: none;
  z-index: 1000;
}

.captcha-modal .modal {
  position: fixed; 
  top: 50vh;
  left: 50vw;
  transform: translate(-50%,-50%);
  background-color: white; 
  border-radius: 8px;
  padding: 16px;
}

.captcha-modal .captchaForm {
  position: relative;
}
