body { 
  margin: 0;
  font-family: sans-serif;
}

nav {
  padding: 15px 0 0;
  position: relative;
  z-index: 22;
}

ul {
	padding: 0;
	margin: 0;
}

li {
	padding-right: 15px;
  display: inline-block;
  list-style: none;
}

a {
	color: #fff;
  font-size: 18px;
  text-decoration: none;
}

.get-started {
  background-color: #fff;
  padding: 5px 10px !important;
  border-radius: 4px;
  color: #4086ff !important;
}

.get-started a { color: #4086ff; }
nav li a:hover { text-decoration: underline; }

.hamburger { 
  display: none; 
  position: relative;
}

.mobile-menu {
  position: absolute;
  right: 0;
}

.bars {
  padding: 5px 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.bars span {
  width: 15px;
  height: 3px;
  margin-bottom: 3px;
  display: block;
  background-color: #fff;
}

.mobile-menu li { display: block; }

@media(max-width: 960px) {
  .header-menu { display: none; }
  .hamburger { display: block; }   
}