@font-face {
   font-family: Raleway;
   src: url(./assets/fonts/Raleway-Light.ttf);
}

@font-face {
   font-family: OpenSans;
   src: url(./assets/fonts/OpenSans-Light.ttf);
}

@font-face {
   font-family: Roboto;
   src: url(./assets/fonts/Roboto-Light.ttf);
}


body {
  margin: 0;
  font-family: 'OpenSans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

h1, h2 { margin: 0; }
