body {
  margin: 0;
  font-family: "Muli", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2 {
  margin: 0;
}

/* GDPR QuantCast Notification */
.qc-cmp-persistent-link {
  display: none !important;
}
/* GDPR QuantCast Notification - ends */

.loader-container {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
  background-color: #F2F2F2;
}

::-webkit-scrollbar-thumb {
  background: #999;
  border-radius: 10px;
}
