.lst-kix_vdup2d8j3ppw-7 > li:before {
  content: "\0025cb  ";
}
ul.lst-kix_vdup2d8j3ppw-8 {
  list-style-type: none;
}
.lst-kix_vdup2d8j3ppw-6 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vdup2d8j3ppw-8 > li:before {
  content: "\0025a0  ";
}
.lst-kix_vdup2d8j3ppw-5 > li:before {
  content: "\0025a0  ";
}
ul.lst-kix_vdup2d8j3ppw-0 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-1 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-2 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-3 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-4 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-5 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-6 {
  list-style-type: none;
}
ul.lst-kix_vdup2d8j3ppw-7 {
  list-style-type: none;
}
.lst-kix_vdup2d8j3ppw-0 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vdup2d8j3ppw-1 > li:before {
  content: "\0025cb  ";
}
.lst-kix_vdup2d8j3ppw-3 > li:before {
  content: "\0025cf  ";
}
.lst-kix_vdup2d8j3ppw-2 > li:before {
  content: "\0025a0  ";
}
.lst-kix_vdup2d8j3ppw-4 > li:before {
  content: "\0025cb  ";
}
ol {
  margin: 0;
  padding: 0;
}
table td,
table th {
  padding: 0;
}
.c1 {
  -webkit-text-decoration-skip: none;
  color: #40ceff;
  font-weight: 400;
  text-decoration: underline;
  vertical-align: baseline;
  text-decoration-skip-ink: none;
  font-size: 21pt;
  font-family: "Arial";
  font-style: normal;
}
.c8 {
  margin-left: 66pt;
  padding-top: 0pt;
  padding-left: 0pt;
  padding-bottom: 20pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c2 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 4pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c7 {
  background-color: #ffffff;
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c11 {
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  vertical-align: baseline;
  font-size: 14pt;
  font-family: "Arial";
  font-style: normal;
}
.c0 {
  -webkit-text-decoration-skip: none;
  color: #40ceff;
  font-weight: 700;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  font-size: 12pt;
}
.c10 {
  padding-top: 0pt;
  padding-bottom: 0pt;
  line-height: 1.15;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.c6 {
  font-weight: 400;
  text-decoration: none;
  vertical-align: baseline;
  font-family: "Arial";
  font-style: normal;
}
.c13 {
  background-color: #ffffff;
  max-width: 468pt;
  padding: 72pt 72pt 72pt 72pt;
}
.c5 {
  padding: 0;
  margin: 0;
}
.c9 {
  color: #222222;
  font-size: 21pt;
}
.c3 {
  color: inherit;
  text-decoration: inherit;
}
.c12 {
  color: #000000;
  font-size: 11pt;
}
.c4 {
  color: #676d76;
  font-size: 12pt;
}
.c14 {
  height: 11pt;
}
.title {
  padding-top: 0pt;
  color: #000000;
  font-size: 26pt;
  padding-bottom: 3pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
.subtitle {
  padding-top: 0pt;
  color: #666666;
  font-size: 15pt;
  padding-bottom: 16pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
li {
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
p {
  margin: 0;
  color: #000000;
  font-size: 11pt;
  font-family: "Arial";
}
h1 {
  padding-top: 20pt;
  color: #000000;
  font-size: 20pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h2 {
  padding-top: 18pt;
  color: #000000;
  font-size: 16pt;
  padding-bottom: 6pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h3 {
  padding-top: 16pt;
  color: #434343;
  font-size: 14pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h4 {
  padding-top: 14pt;
  color: #666666;
  font-size: 12pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h5 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  orphans: 2;
  widows: 2;
  text-align: left;
}
h6 {
  padding-top: 12pt;
  color: #666666;
  font-size: 11pt;
  padding-bottom: 4pt;
  font-family: "Arial";
  line-height: 1.15;
  page-break-after: avoid;
  font-style: italic;
  orphans: 2;
  widows: 2;
  text-align: left;
}
